Source: batv-tools
Maintainer: Andrew Ayer <agwa@andrewayer.name>
Section: mail
Priority: extra
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 8), make (>= 3.81-5), libc6-dev (>= 2.7-18), gcc (>= 4:4.3.2-2), coreutils (>= 6.10-6), libssl-dev (>= 0.9.8o-4), libmilter-dev (>= 8.14.3-9.4)

Package: batv-filter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Standalone filter for Bounce Address Tag Validation
 batv-filter does stuff.

Package: batv-milter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: Milter (mail filter) for Bounce Address Tag Validation
 batv-milter does stuff.
